{% extends "base.html" %}
{% load static %}

{% block title %}Cofre{% endblock %}

{% block content %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th>Dono</th>
                    <th scope="col"></th>
                    <th scope="col"><a class="btn" data-bs-toggle="modal" data-bs-target="#newVaultModal">Nova credencial</a></th>
                  </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                  <tr>
                    <th>{{ credential.name }}</th>
                    <td>{{ user }}</td>
                    <td>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editVaultModal{{ credential.id }}"><i class="bi bi-box-arrow-up-right"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
</section>

<div class="modal fade" id="newVaultModal" tabindex="-1" aria-labelledby="newVaultModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'create_credential' vault.id %}" >
    {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newVaultModalLabel">Novo cofre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nome:</label>
                    <input type="text" name="name" class="form-control" id="recipient-name">
                    <label for="recipient-name" class="col-form-label">Nome de usuario:</label>
                    <input type="text" name="username" class="form-control" id="recipient-name">
                    <label for="recipient-name" class="col-form-label">Senha:</label>
                    <input type="text" name="password" class="form-control" id="recipient-name">
                    <label for="recipient-name" class="col-form-label">Descrição:</label>
                    <input type="text" name="description" class="form-control" id="recipient-name">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Criar</button>
            </div>
            </div>
        </div>
    </form>
</div>

<!-- credential edit modal -->
{% for credential in credentials %}
<div class="modal fade" id="editVaultModal{{ credential.id }}" tabindex="-1" aria-labelledby="editVaultModal{{ credential.id }}Label" aria-hidden="true">
    <form method="POST" action="{% url 'update_credential' credential_id=credential.id %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editVaultModal{{ credential.id }}Label">Editar credencial - {{ credential.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" name="name" value="{{ credential.name }}" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Nome de usuario:</label>
                        <input type="text" name="username" value="{{ credential.username }}" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Senha:</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="password" name="password" value="{{ credential.password }}" placeholder="Digite aqui">
                            <span class="input-group-text">
                              <i class="bi-eye-slash" id="toggle-password"></i>
                            </span>
                            <span class="input-group-text">
                                <i class="bi-clipboard" id="copy-passowrd"></i>
                            </span>
                            <span class="input-group-text">
                                <i class="bi bi-arrow-repeat" id="random-password"></i>
                            </span>
                        </div>
                        <label for="recipient-name" class="col-form-label">Descrição:</label>
                        <textarea name="description" class="form-control" id="recipient-name">{{ credential.description }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'delete_credential' credential.id %}">Excluir</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="alert alert-success alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3 d-none" style="z-index: 1055;" role="alert" id="copy-alert">
    Senha copiada!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<script>
    function gerarSenha(tamanho = 14) {
        const caracteresEspeciais = '!@#$%^&*()';
        const letrasMinusculas = 'abcdefghijklmnopqrstuvwxyz';
        const letrasMaiusculas = letrasMinusculas.toUpperCase();
        const numeros = '0123456789';

        const caracteres = caracteresEspeciais + letrasMinusculas + letrasMaiusculas + numeros;

        let senha = '';

        for (let i = 0; i < tamanho; i++) {
            const randomIndex = Math.floor(Math.random() * caracteres.length);
            senha += caracteres.charAt(randomIndex);
        }

        return senha;
    }

    document.addEventListener('DOMContentLoaded', function() {
      const passwordInput = document.getElementById('password');
      const togglePassword = document.getElementById('random-password');
    
      togglePassword.addEventListener('click', function() {
        passwordInput.value = gerarSenha();
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      const passwordInput = document.getElementById('password');
      const togglePassword = document.getElementById('toggle-password');
    
      togglePassword.addEventListener('click', function() {
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          togglePassword.classList.add('bi-eye');
          togglePassword.classList.remove('bi-eye-slash');
        } else {
          passwordInput.type = 'password';
          togglePassword.classList.add('bi-eye-slash');
          togglePassword.classList.remove('bi-eye');
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
            const inputText = document.getElementById('password');
            const copyButton = document.getElementById('copy-passowrd');
            const copyAlert = document.getElementById('copy-alert');

            copyButton.addEventListener('click', function() {
            inputText.select();
            inputText.setSelectionRange(0, 99999);
            document.execCommand('copy');
            copyAlert.classList.remove('d-none');

            setTimeout(function() {
                copyAlert.classList.add('d-none');
            }, 3000);
        });
    });
</script>
{% endfor %}

{% endblock %}