{% extends "base.html" %}
{% load static %}

{% block title %}Cofre{% endblock %}

{% block content %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div style="margin: 0 auto;" class="col-lg-6 d-flex flex-column align-items-center justify-items-center">
            <a style="margin-left: auto" class="btn flex btn-primary" data-bs-toggle="modal" data-bs-target="#newVaultModal"><i style="margin-right: 0.125rem;" class="bi bi-plus-lg"></i> <span>Nova credencial</span></a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th>Proprietario</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                  <tr>
                    <th>{{ credential.name }}</th>
                    <td>{{ user }}</td>
                    <td>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editVaultModal{{ credential.id }}"><i class="bi bi-box-arrow-up-right"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
</section>

<div class="modal fade" id="newVaultModal" tabindex="-1" aria-labelledby="newVaultModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'create_credential' vault.id %}" >
    {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newVaultModalLabel">Novo cofre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nome:</label>
                    <input type="text" name="name" class="form-control" id="recipient-name">
                    <label for="recipient-name" class="col-form-label">Nome de usuario:</label>
                    <input type="text" name="username" class="form-control" id="recipient-name">
                    <label for="recipient-name" class="col-form-label">Senha:</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" value="{{ credential.password }}">
                        <span class="input-group-text">
                          <i class="bi-eye-slash" id="toggle-password"></i>
                        </span>
                        <span class="input-group-text">
                            <i class="bi-clipboard" id="copy-passowrd"></i>
                        </span>
                        <span class="input-group-text">
                            <i class="bi bi-arrow-repeat" id="random-password"></i>
                        </span>
                    </div>
                    <label for="recipient-name" class="col-form-label">Descrição:</label>
                    <textarea type="text" name="description" class="form-control" id="recipient-name"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Criar</button>
            </div>
            </div>
        </div>
    </form>
</div>

<!-- credential edit modal -->
{% for credential in credentials %}
<div class="modal fade" id="editVaultModal{{ credential.id }}" tabindex="-1" aria-labelledby="editVaultModal{{ credential.id }}Label" aria-hidden="true">
    <form method="POST" action="{% url 'update_credential' credential_id=credential.id %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editVaultModal{{ credential.id }}Label">Editar credencial - {{ credential.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" name="name" value="{{ credential.name }}" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Nome de usuario:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="username" name="username" value="{{ credential.username }}" placeholder="">
                            <span class="input-group-text">
                                <i class="bi-clipboard" id="copy-username"></i>
                            </span>
                        </div>
                        <label for="recipient-name" class="col-form-label">Senha:</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="password1" name="password" value="{{ credential.password }}" placeholder="Digite aqui">
                            <span class="input-group-text">
                              <i class="bi-eye-slash" id="toggle-password1"></i>
                            </span>
                            <span class="input-group-text">
                                <i class="bi-clipboard" id="copy-passowrd"></i>
                            </span>
                            <span class="input-group-text">
                                <i class="bi bi-arrow-repeat" id="random-password1"></i>
                            </span>
                        </div>
                        <label for="recipient-name" class="col-form-label">Descrição:</label>
                        <textarea name="description" class="form-control" id="recipient-name">{{ credential.description }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'delete_credential' credential.id %}">Excluir</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endfor %}

<div class="alert alert-success alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3 d-none" style="z-index: 1055;" role="alert" id="copy-alert">
    Senha copiada!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<script>
    function randomPassword(tamanho = 14) {
        const caracteresEspeciais = '!@#$%^&*()';
        const letrasMinusculas = 'abcdefghijklmnopqrstuvwxyz';
        const letrasMaiusculas = letrasMinusculas.toUpperCase();
        const numeros = '0123456789';

        const caracteres = caracteresEspeciais + letrasMinusculas + letrasMaiusculas + numeros;

        let password = '';

        for (let i = 0; i < tamanho; i++) {
            const randomIndex = Math.floor(Math.random() * caracteres.length);
            password += caracteres.charAt(randomIndex);
        }

        return password
    }

    function seePassword(value, passwordInput) {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            value.classList.add('bi-eye');
            value.classList.remove('bi-eye-slash');
        } else {
            passwordInput.type = 'password';
            value.classList.add('bi-eye-slash');
            value.classList.remove('bi-eye');
        }
    }

    function cardAlert(copyButton, inputText) {
        const copyAlert = document.getElementById('copy-alert');

        copyAlert.innerHTML = 'Senha copiada!';
        copyAlert.innerText = 'Senha copiada!';
        inputText.select();
        inputText.setSelectionRange(0, 99999);
        document.execCommand('copy');
        copyAlert.classList.remove('d-none');

        setTimeout(function() {
            copyAlert.classList.add('d-none');
        }, 3000);
        
    }

    document.addEventListener('DOMContentLoaded', function() {
      const RandomPassword = document.getElementById('random-password');
      const RandomPassword1 = document.getElementById('random-password1');

      const togglePassword = document.getElementById('toggle-password');
      const togglePassword1 = document.getElementById('toggle-password1');

      const passwordInput = document.getElementById('password');
      const passwordInput1 = document.getElementById('password1');

      const inputTextPassword = document.getElementById('password');
      const copyButton = document.getElementById('copy-passowrd');
    
      RandomPassword.addEventListener('click', function() {
        passwordInput.value = randomPassword();
      });

      if(RandomPassword1) {
        RandomPassword1.addEventListener('click', function() {
            passwordInput1.value = randomPassword();
        });
      }
      
      togglePassword.addEventListener('click', function() {
        seePassword(togglePassword, passwordInput);
      });

      if(togglePassword1) {
        togglePassword1.addEventListener('click', function() {
            seePassword(togglePassword1, passwordInput1);
        });
      }
      
    });
</script>

{% endblock %}