{% extends "base.html" %}
{% load static %}

{% block title %}Cofre{% endblock %}

{% block content %}
<link href="{% static 'styles/vault.css' %}" rel="stylesheet" />

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="text-center vault-container ">
                    <div class=" vault-options">
                        <a class="btn" href="">Todos</a>
                        <a class="btn" href="">Favirotos</a>
                        <a class="btn" data-bs-toggle="modal" data-bs-target="#newVaultModal">Novo</a>
                    </div>
            
                    <ul class="list-group list-group-flush">
                        {% for vault in vaults %}
                        <li class="list-group-item list-group-item-action">
                            {{ vault.name }}
                            <i style="float: right;" class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editVaultModal">Editar <i class="bi bi-pencil-square text-primary"></i></a></li>
                                <li><a class="dropdown-item" href="{% url 'delete_vault' vault.id %}">Excluir <i class="bi bi-trash text-danger"></i></a></li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </section><!-- End Hero -->

    <!-- vault creation modal -->

    <div class="modal fade" id="newVaultModal" tabindex="-1" aria-labelledby="newVaultModalLabel" aria-hidden="true">
        <form method="POST" action="{% url 'create_vault' %}" >
        {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newVaultModalLabel">Novo cofre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" name="name" class="form-control" id="recipient-name">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
                </div>
            </div>
        </form>
    </div>

    <!-- vault edit modal -->
    <div class="modal fade" id="editVaultModal" tabindex="-1" aria-labelledby="editVaultModalLabel" aria-hidden="true">
        <form method="POST" action="{% url 'update_vault' vault_id=0 %}" >
        {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editVaultModalLabel">Editar cofre - {{ vault.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" name="name" value="{{ vault.name }}" class="form-control" id="recipient-name">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}