@import url("header.css");
@import url("footer.css");
@import url("main.css");
@import url("logo.css");
@import url("cadastro.css");
@import url("login.css");
@import url("myprofile.css");

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

:root
    {
        --cor-de-fundo: #EBECEE;
        --branco: #FFFFFF;
        --laranja: #EB9B00;
        --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
        --fonte-principal: "Poppins";
        --azul: #002F52;
        --fonte-secundario: "Josefin Sans";
        --preto: #000000;
        --cinza: #474646;
        --cinza-claro: #858585;
    }

