.vault-container {
  width: 20rem;
  min-height: 20rem;

  border: 1px solid #CCC;
  border-radius: 5px;
}

.vault-container ul {
  cursor: pointer;
}

.vault-options {
  border-bottom: 1px solid #CCC;

  height: 2.5rem;
}